.messangers {

    position: fixed;
    bottom: clamp(14px, 3vw, 28px);
    right: clamp(14px, 3vw, 28px);

    z-index: 900;

    display: flex;
    flex-direction: column;
    gap: 8px;

    &__main-btn {

    }

    // .messangers__item
    &__item {
        width: 48px;
        aspect-ratio: 1;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    // .messangers__body
    &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > * {
            transform: translateX(100%);
            opacity: 0;
            
            animation: slideOut 0.5s forwards;

            &:nth-child(n) {
                animation-delay: calc(var(--i) * 0.1s);
            }
        }

        &_active {
            & > * {
                animation: slideIn 0.5s forwards;
            }
        }
    }
}
