.service-link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: $inputBorder;
    padding: clamp(16px, 3vw, 32px) 0;

    font-size: clamp(18px, 3vw, 28px);
    font-weight: 600;
    line-height: 1.3;

    svg {
        width: clamp(20px, 3vw, 32px);
        height: auto;
    }

    &:hover {
        color: $colorPrimary;
        padding-left: 16px;
        padding-right: 16px;

        svg {
            path {
                stroke: $colorPrimary;
            }
        }
    }
}